#header-illustration {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
}

#header-illustration > h1,p {
    text-align: center;
    user-select: none;
    margin: 5px;
}

#header-image {
    background-image: url("/media/images/playpal-onlymage_WO.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: left;
    min-width: 140px;
}

#header-bg {
    display: flex;
    flex-flow: row;
}

@media only screen and (max-width: 700px) {
    #header-image {
        display: none;
    }

    #header-bg {
        background-image: url("/media/images/playpal-onlymage_WO.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
        background-position-x: left;
    }
}

header {
    padding-top: 5px;
}