#page-dm-upper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(200, 200, 200);
}

#page-dm-upper > textarea {
    font-size: 1rem;
    height: 5vh;
    flex-grow: 2;
    border: none;
    background-color: transparent;
}

#page-dm-lower {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(200, 200, 200);
    max-height: 5.5vh;
}

#page-dm-lower > input {
    font-size: 1rem;
    height: 5vh;
    flex-grow: 2;
    border: none;
    background-color: transparent;
}

.user-title {
    text-align: center;
}

.message-sent {
    text-align: right;
}

.message-received {
    text-align: left;
}