#page-dm-upper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-title {
    text-align: center;
    font-size: large;
}

.message-sent > p {
    border: solid;
    border-radius: 10px;
    border-color: #007bff;
    padding: 5px;
}

.message-received > p {
    border: solid;
    border-radius: 10px;
    border-color: #007bff;
    padding: 5px;
}

.message-sent {
    display: flex;
    justify-content: flex-end;
}

.message-received {
    display: flex;
    justify-content: flex-start;
}

#main-content-footing {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    max-height: 50px;
}

.messages-form {
    display: flex;
}

.messages-form input[type="text"] {
    max-height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.messages-form button {
    min-height: 40px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.messages-form button:hover {
    background-color: #0056b3;
}

.messages-form input[type="text"]:focus {
    border-color:#007bff;
}