@font-face {
  font-family: "Eurostyle";
  src: url("/fonts/eurostile.woff");
}
* {
  --sb-track-color: #232e33;
  --sb-thumb-color: #f06543;
  --sb-size: 14px;
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb-color)  var(--sb-track-color);
}
*::-webkit-scrollbar {
  scrollbar-width: 8px;
}
*::-webkit-scrollbar {
  width: var(--sb-size);
}
*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

input,textarea {
  margin: 3px 0px;
  border-radius: 10px;
  background-color: #E8E9EB;
  min-height: 20px;
  border: 1px solid black;
  transition: 500ms;
}
input:focus {
  border-radius: 0;
}

html, body {
  margin: 0;
  height: 100%;
  color: #EEEEEE;
  font-family: Eurostyle;
}

body {
  background-color: #313638;
  display: flex;
  flex-flow: column;
}
button:hover {
  background-color: #F09D51;
  transition: none;
}


@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
      var(--sb-track-color);
    scrollbar-width: thin;
  }
}

button {
  min-height: 30px;
  min-width: 55px;
  font-size: 1rem;
  margin: 2px 6px;
  height: 5vh;
  background-color: transparent;
  border: none;
  transition: none;
  border: 1px solid black;
  border-radius: 10px;
  max-height: 15px;
}

.generic-pane {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: black;
  background-color: #E0DFD5;
  flex-grow: 1;
  max-width: 500px;
  margin-top: 8vh;
  -webkit-box-shadow: 0px 0px 14px 30px #E0DFD5;
  box-shadow: 0px 0px 14px 30px #E0DFD5;
  margin: 10%;
  height: fit-content;
  min-height: 450px;
  max-height: none;
}
.generic-pane > * {
  margin: 10px;
}
.generic-form {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
.generic-form > fieldset {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
.generic-form > fieldset > * {
  transition: 500ms;
}
.generic-form > * {

}
.generic-form > fieldset > textarea {
  resize: none;
}
.avatar-box {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.avatar-box > img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
}
.generic-warningbox-inactive {
  min-height: 60px;
}
.generic-warningbox {
  border: 2px dashed red;
}
.wrong {
  -webkit-box-shadow: 0px 0px 6px 2px #f00;
  box-shadow: 0px 0px 6px 2px #f00;
}

#content-shaper {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-evenly;
  gap: 5px;
  flex-grow: 1;
  overflow: hidden;
}

::selection {
  background: #F06543;
}

@media only screen and (max-width: 700px) {
  #content-shaper {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    gap: 0;
  }
}

#content-holder {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#main-content-heading {
  flex-grow: 0;
}
#main-content-page {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
#main-content-footing {
  flex-grow: 0;

}

#loading-banner {
  background-color: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-banner-spinner {
  min-width: 100px;
  width: 15vw;
  max-width: 200px;
}

#user-div > .avatar-box {
  max-height: 90px;
}