@font-face {
  font-family: "Eurostyle";
  src: url("/fonts/eurostile.woff");
}

html, body {
  margin: 0;
  height: 100%;
  color: #EEEEEE;
  font-family: Eurostyle;
}

body {
  background-color: #313638;
  display: flex;
  flex-flow: column;
}

.generic-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: #E0DFD5;
  flex-grow: 1;
  max-width: 500px;
  max-height: 500px;
  margin-top: 8vh;
  -webkit-box-shadow: 0px 0px 14px 30px #E0DFD5;
  box-shadow: 0px 0px 14px 30px #E0DFD5;
  margin: 10%;
  height: 100%;
}

#content-shaper {
  height: 100%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-evenly;
  gap: 5px;
  flex-grow: 1;
  overflow: hidden;
}

::selection {
  background: #F06543;
}

@media only screen and (max-width: 700px) {
  #content-shaper {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    gap: 0;
  }
}

#content-holder {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#main-content-heading {
  flex-grow: 0;
}
#main-content-page {
  overflow: auto;
  flex-grow: 1;
}
#main-content-footing {
  flex-grow: 0;

}

#loading-banner {
  background-color: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-banner-spinner {
  min-width: 100px;
  width: 15vw;
  max-width: 200px;
}
