html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#main-content-page {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: azure;
}

#loading-banner {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-banner-spinner {
    min-width: 100px;
    width: 15vw;
    max-width: 200px;
}
