<link rel='stylesheet' type='text/css' media='screen' href='components/login/login.css'>
<div class="formpane">
  <form id="login-form" name="signInForm" action="" method="post">
    <h1>PlayPal</h1>
    <h2>Login</h2>
    
    <label for="usernameSignIn">Username:</label>
    <input id="login-username" type="text" name="usernameSignIn" value="" autocomplete="on">
    <label for="passwordSignIn">Password:</label>
    <input id="login-passw" type="password" name="passwordSignIn" value="" autocomplete="on">
    
    <button id="login-login" class="signIn" type="submit">Sign in</button>
    <button id="login-goto-register" class="createAccount" type="button">Create an Account</button>
  </form>
</div>