<link rel='stylesheet' type='text/css' media='screen' href='components/registration/registration.css'>
<div id="registration-pane">
  <div id="forms-container">
    <form id="registration-form" action="">
      <div id="registration-essential">
        <label for="registration-username">Username*</label>
        <input id="registration-username" type="text" name="registration-username" placeholder="username" required="required">
        <p class="essentialRegistrationError" id="registration-username-specialchar-error">Username must not contain special characters and must be less than 50 characters long</p>
        <p class="essentialRegistrationError" id="registration-username-taken-error">Username already taken</p>
        <label for="registration-email">Email*</label>
        <input id="registration-email" type="email" name="registration-email" placeholder="email" required="required">
        <p class="essentialRegistrationError" id="registration-email-taken-error">Email already used</p>
        <label for="registration-password">Password*</label>
        <input id="registration-password" type="password" name="registration-password" placeholder="password" required="required">
        <p class="essentialRegistrationError" id="registration-password-error">Password must be at least <b>9</b> characters long and <b>must</b> contain at least 1 of number and special character </br><b>[!@#$%^&*(),.?":{}|<>]</b></p>
        <label for="registration-password-retype">Re-type password*</label>
        <input id="registration-password-retype" type="password" name="registration-password-retype" placeholder="retype password" required="required">
        <p class="essentialRegistrationError" id="registration-password-retype-error">Paswords must match</p>
      </div>
      <div id="registration-non-essential">
        <label for="registration-firstname">First Name:</label>
        <input id="registration-firstname" type="text" name="registration-firstname" placeholder="your real name">
        <label for="registration-lastname">Last Name:</label>
        <input id="registration-lastname" type="text" name="registration-lastname" placeholder="your real last name">
        <label for="registration-gender">Gender:</label>
        <input id="registration-gender" type="text" name="registration-gender" placeholder="how do you identify?">
        <label for="registration-biography">Biography:</label>
        <textarea id="registration-biography" type="text" name="registration-biography" maxlength="500" placeholder="what would you like to tell everyone?"></textarea>
        <label for="registration-personalwebsite">Personal website:</label>
        <input id="registration-personalwebsite" type="text" name="registration-personalwebsite" placeholder="https://www.myblog.com/">
        <label for="registration-profilepicture">Profile picture:</label>
        <input id="registration-profilepicture" type="file" name="registration-profilepicture" placeholder="username">
        <label for="registration-phonenumber">Phone number:</label>
        <input id="registration-phonenumber" type="text" name="registration-phonenumber" placeholder="your phone number">
      </div>
      <div id="registration-selectionbar">
        <button id="registration-send-data" type="submit">Register</button>
        <button id="registration-show-non-essential" type="button">Add more info</button>
      </div>
    </form>
  </div>
</div>