body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: grey;
}


.InteractionPane {
    max-width: 390px;
    max-height: 844px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    margin: auto;
    padding: 1% 3%;
    text-align: left;
}

.InteractionPane h1, h2 {
    text-align: center;
}