.profile-user-container {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  height: 100%;
}
.profile-user-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: #E0DFD5;
  flex-grow: 1;
  max-width: 500px;
  max-height: 500px;
  margin-top: 8vh;
  -webkit-box-shadow: 0px 0px 14px 30px #E0DFD5; 
  box-shadow: 0px 0px 14px 30px #E0DFD5;
}
.profile-user-pane-head {
  display: flex;
  justify-content: space-evenly;
  max-height: 215px;
  flex-grow: 0;
}
.profile-user-pane-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}
.profile-user-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#profile-user-image-box > img {
  max-width: 100%;
  max-height: 100%;
}
#profile-user-name-box > * {
  display: inline;
  margin: 5px;
}
#profile-user-username {
  flex-grow: 1;
}
#profile-user-bio-container > h2 {
  text-align: center;
}
#profile-user-bio-container > p {
  text-align: left;
}

#profile-user-name-box > p {
  font-weight: bold;
}
