<link rel="stylesheet" href="/components/profile/profile.css">
<div id="profile-section-container">
  <div id="profile-container">
    <h1 id="profile-username"></h1>
    <!-- <img class="user-profile-image" id="profile-profile-image" src="/media/users/placeholder.webp"> -->
    <div id="profile-general-content">
      <label for="profile-username">Username:</label> 
      <input type="text" id="profile-username" name="profile-username" value="" readonly>

      <label for="profile-email">Email:</label> 
      <input type="text" id="profile-email" name="profile-email" value="" readonly>

      <label for="profile-email">Password:</label> 
      <input type="text" id="profile-password" name="profile-password" value="" readonly>
    </div>
    <div id="profile-extra-content">
      <label for="profile-firstName">First Name:</label> 
      <input type="text" id="profile-firstName" name="profile-firstName" value="" readonly>

      <label for="profile-lastName">Last Name:</label> 
      <input type="text" id="profile-lastName" name="profile-lastName" value="" readonly>

      <label for="profile-gender">Gender:</label> 
      <input type="text" id="profile-gender" name="profile-gender" value="" readonly>

      <label for="profile-biography">Biography:</label> 
      <input type="text" id="profile-biography" name="profile-biography" value="" readonly>

      <label for="profile-peronalWebsite">Pesronal Website:</label> 
      <input type="text" id="profile-peronalWebsite" name="profile-peronalWebsite" value="" readonly>

      <label for="profile-phoneNumbers">Password:</label> 
      <input type="text" id="profile-phoneNumbers" name="profile-phoneNumbers" value="" readonly>
    </div>
  </div>
</div>