<link rel="stylesheet" href="/components/profile/profile.css">
<div class="profile-user-container">
  <div class="profile-user-pane">
    <div class="profile-user-pane-head">
      <div id="profile-user-image-box">
        <img src="/media/users/Linus.jpg" alt="profile user image">
      </div>
      <div id="profile-user-name-box">
        <h1 id="profile-user-username">MarcoFMig</h1>
        <p><b>Marco</b></p>
        <p><b>Francolini</b></p>
      </div>
    </div>
    <div class="profile-user-pane-body">
      <div id="profile-user-bio-container">
        <h2>Bio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra nisi eu mauris interdum, id pulvinar ex placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam sit amet dignissim turpis, vel feugiat tellus. Etiam commodo mi at mauris pharetra bibendum. Nulla enim ante, rhoncus vel lobortis vel, euismod vitae massa. Mauris id urna nec augue ultricies scelerisque nec eget odio. Maecenas vel elit interdum, feugiat tortor vitae, porttitor odio. Do</p>
      </div>
      <div class="profile-user-secondary">
        <div>
          <h2>Personal Website</h2>
          <a href="https://www.google.it/">https://www.google.it/</a>
        </div>
        <div>
          <h3>Phone Number</h3>
          <p>+39 391 417 5818</p>
        </div>
      </div>
    </div>
  </div>
</div>
