.user-profile-image-box {
    max-height: 50px;
    max-width: 50px;
    height: 2vh;
    width: 2vw;
}
.user-profile-image-box > img {
    aspect-ratio: 1/1;
}

#page-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(200, 200, 200);
    max-height: 5.5vh;
}

#page-profile > button {
    font-size: 1rem;
    height: 5vh;
    flex-grow: 2;
    border: none;
    background-color: transparent;
}
