#page-chat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}

#page-chat > button {
    font-size: 1rem;
    height: 5vh;
    text-align: left;
    background-color: transparent;
}