#page-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(200, 200, 200);
    max-height: 5.5vh;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 5vh;
}

form > textarea {
    resize: none;
    min-width: 80%;
    font-size: 150%;
    max-height: 80%;
}

form > input {
    min-width: 73px;
    font-size: 150%;
}