<link rel='stylesheet' type='text/css' media='screen' href='components/post/post.css'>
<div class="formpane" id="create-post">
  <form id="post-form">
    <label for="communities-options">In which community?</label>
    <select id="communities-options">
    </select>
    <label for="post-title">Title:</label>
    <input id="post-title" type="text" name="postTitle" value="">
    <label for="post-content">Content:</label>
    <input id="post-content" type="text" name="postContent" value="">
    <label for="post-image">Picture:</label>
    <input id="post-image" type="file" name="postImage">
    <button id="post-post" class="postPost" type="submit">Post</button>
  </form>
</div>

<div class="formpane" id="create-community">
  <form id="community-form">
    <label for="community-title">Name your community:</label>
    <input id="community-title" type="text" name="communityTitle" value="">
    <label for="community-desc">Description:</label>
    <input id="community-desc" type="text" name="communityDesc" value="">
    <label for="community-image">Picture:</label>
    <input id="community-image" type="file" name="communityImage">
    <button id="community-create" class="communityCreate" type="submit">Create community</button>
  </form>
</div>