<link rel='stylesheet' type='text/css' media='screen' href='components/post/post.css'>
<div class="formpane" id="create-post">
  <form id="post-form">
    <label for="community">In which community?</label>
    <select id="communities-options">
    </select>
    <label for="postTitle">Title:</label>
    <input id="post-title" type="text" id="postTitle" name="postTitle" value="">
    <label for="postContent">Content:</label>
    <input id="post-content" type="text" id="postContent" name="postContent" value="">
    <label for="post-image">Picture:</label>
    <input id="post-image" type="file" name="postImage" placeholder="Optional">
    <button id="post-post" class="postPost" type="submit">Post</button>
  </form>
</div>

<div class="formpane" id="create-community">
  <form id="community-form">
    <label for="communityTitle">Name your community:</label>
    <input id="community-title" type="text" id="communityTitle" name="communityTitle" value="">
    <label for="communityDesc">Description:</label>
    <input id="community-desc" type="text" id="communityDesc" name="communityDesc" value="">
    <label for="community-image">Picture:</label>
    <input id="community-image" type="file" name="communityImage" placeholder="Optional">
    <button id="community-create" class="communityCreate" type="submit">Create community</button>
  </form>
</div>