<link rel='stylesheet' type='text/css' media='screen' href='components/post/post.css'>
<div class="formpane">
  <form>
    <label for="community">In which community?</label>
    <select id="communities-options">
    </select>
    <label for="postTitle">Title:</label>
    <input id="post-title" type="text" id="postTitle" name="postTitle" value="">
    <label for="postContent">Content:</label>
    <input id="post-content" type="text" id="postContent" name="postContent" value="">
    <label for="post-image">Picture:</label>
    <input id="post-image" type="file" name="postImage" placeholder="Optional">
    <button id="post-post" class="postPost" type="button">Post</button>
  </form>
</div>