.danger-zone {
  border-top: 2px inset #ff0000;
  border-left: 3px inset rgb(255, 0, 0);
  padding: 5px;
}

#settings-editprofile-form > fieldset > .avatar-box > img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  max-width: 150px;
}

#settings-section-account-edit {
  flex-grow: 1;
  padding-bottom: 20px;
}

#settings-section-account {
  height: 100%;
}

#page-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#page-settings > button {
    font-size: 1rem;
    height: 5vh;
    text-align: left;
    flex-grow: 2;
    border: none;
    background-color: transparent;
}

.generic-form > fieldset {
  border-top: 3px inset rgb(240, 157, 81);
  border-left: 3px inset rgb(240, 157, 81);
  border-right: 0;
  border-bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#settings-dangerzone-form  > fieldset {
  border-top: 3px inset rgb(255, 0, 0);
  border-left: 3px inset rgb(255, 0, 0);
  border-right: 0;
  border-bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#settings-dangerzone-form > fieldset > legend {
  color: rgb(196, 0, 0);
  font-weight: bold;
}
